#clockContainer {
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url("clock.gif") no-repeat;
  background-size: 100%;
  margin: auto;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 2.5%;
  height: 25%;
  top: 25%;
  left: 48.7%;
  opacity: 0.9;
}

#minute {
  width: 1.5%;
  height: 30%;
  top: 19%;
  left: 49.1%;
  opacity: 0.8;
}

#second {
  width: 0.5%;
  height: 40%;
  top: 11%;
  left: 49.8%;
  opacity: 0.7;
}
